.media[b-8tibzv9bif] {
    height: 300px;
    background: rgb(220 220 220);
}
.media-body[b-8tibzv9bif]{
    margin: 5px 5px 5px 10px;
}
.desc[b-8tibzv9bif] {
    background: rgb(220 220 220);
}

.customButton[b-8tibzv9bif] {
    top: 20px;
    right: 5%;
    position: absolute;
    margin-right: 10px;
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
}