.media {
    height: 300px;
    background: rgb(220 220 220);
}
.media-body{
    margin: 5px 5px 5px 10px;
}
.desc {
    background: rgb(220 220 220);
}

.customButton {
    top: 20px;
    right: 5%;
    position: absolute;
    margin-right: 10px;
    background: rgba(0,0,0,0);
    border: none;
    outline: none;
}