@page "/account/purchasestory"

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item" style="color:black">
                <a class="nav-link" href="/account" style="color:black">Konto</a>
            </li>
            <li class="nav-item" style="color:black">
                <a class="nav-link" href="/account/myauctions" style="color:black">Moje Aukcje</a>
            </li>
            <li class="nav-item" style="color:black">
                <a class="nav-link active" href="/account/purchasestory" style="color:black">Historia zakupów</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <br />
        <h5>Karta: Historia Zakupów</h5>
    </div>
</div>

@code {

}
